<%- include('layouts/header') %>

<section class="alta-producto">
  <h2>Nuevo Producto</h2>
  <form action="/admin/alta" method="POST" enctype="multipart/form-data">
    <label>Nombre:</label>
    <input type="text" name="nombre" required />

    <label>Tipo:</label>
    <input type="text" name="tipo" required />

    <label>Precio:</label>
    <input type="number" name="precio" step="0.01" required />

    <label>Imagen:</label>
    <input type="file" name="imagen" accept="image/*" />

    <button type="submit">Agregar</button>
  </form>
</section>

<%- include('layouts/footer') %>
