<%- include('layouts/header') %>
<section class="seccion-centrada">
  <h1>Bienvenido a <span style="color:#ffcc00">Fulbo Shop</span> ⚽</h1>
  <p>Ingresá tu nombre para comenzar la experiencia futbolera.</p>

  <input type="text" id="nombreCliente" placeholder="Tu nombre..." required />
  <br /><br />
  <button id="btnContinuar" class="boton-comprar">Continuar</button>
</section>

<script>
  document.getElementById("btnContinuar").addEventListener("click", () => {
    const nombre = document.getElementById("nombreCliente").value.trim();

    if (nombre === "") {
      alert("👤 Por favor, ingresá tu nombre.");
      return;
    }

    localStorage.setItem("cliente", nombre);
    window.location.href = "/productos";
  });
</script>


<%- include('./layouts/footer') %>
