<%- include('layouts/header') %>

<section class="error404">
  <h2>⚠️ 404 - Página no encontrada</h2>
  <p><%= mensaje || "La página que buscás no existe o fue movida." %></p>
  <a href="/">Volver al inicio</a>
</section>

<%- include('layouts/footer') %>
